
body {
    text-align: center;
}
div {
   height: 100%;
   width: 45%;
   background-color: 4361ee;
   flex-direction: column;
    text-align: center;
    justify-content: space-evenly;
    margin: auto;
    background-color: white;
    padding: 3%;
}

section {
    background-color: white;
    padding: 10px;
    margin: 10px;
    border-bottom: solid 3px hotpink;
} 

section > h2 {
    text-align: left;
}

section > p {
    display: flow-root;

}

section > img {
    border-radius: 0;
    float: left;
    height: 55%;
    width: 25%;
}

.img-right {
    float: right;
}