
body {
    text-align: center;
}
div {
   height: 100%;
   width: 50%;
   flex-direction: column;
    text-align: center;
    justify-content: space-evenly;
    margin: auto;
    background-color: c4bbaf;
    padding: 3%;
}

section {
    background-color: a5978b;
    padding: 10px;
    margin: 10px;
    color: white;
    font-size: 1rem;
    height: 50%;
} 

section > h2 {
    text-align: left;
}

section > p {
    display: flow-root;

}

section > img {
    border-radius: 0;
    float: left;
    height: 55%;
    width: 25%;
}

.img-right {
    float: right;
}