
body {
    text-align: center;
}
div {
   height: 100%;
   width: 45%;
   flex-direction: column;
    text-align: center;
    justify-content: space-evenly;
    margin: auto;
    background-color: c4bbaf;
    padding: 3%;
}

section {
    background-color: a5978b;
    padding: 10px;
    margin: 10px;
    border-bottom: solid 3px #8d5b4c;
    color: white;
    border-radius: 10%;
    font-size: 1em;
} 

section > h2 {
    text-align: left;
}

section > p {
    display: flow-root;

}

section > img {
    border-radius: 0;
    float: left;
    height: 55%;
    width: 25%;
}

.img-right {
    float: right;
}