form {
    background-color: white;
    border: solid 2px pink;
    text-align: center;
    align-items: center;
    max-width: 700px;
    padding: 30px 40px;
    height: 70%;
    margin-top: -200px;
}


input[type=text], input[type=email], textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
    margin: 10px 20px 10px 0px;
  }

  form label {
    /* padding: 12px 12px 12px 0; */
    display: inline-block;
    margin: 10px 20px 10px 0px;
  }

/* form input {
    border: transparent;
    border-bottom: solid 2px black;
    
    padding-right: 30px;
    align-items: center;
} */

/* form textarea {
    border: transparent;
    border-bottom: solid 2px black;

} */

input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
    margin: 10px 0px;
  }

input[type=submit]:hover {
    background-color: #45a049;
  }
