
body div {
    display: flex;
    justify-content: center;
}

h1 {
    margin-left: 425px;
    font-size: 2.5em;
}
#porttest {
    height: 50%;
}

.sec-test {
    margin-left: 5git 0px;
}

.testing1 {
    height: 100px;
    width: 400px;
    color: black;
}

.imgtest {
    display: block;
}

img {
    height: 60%;
    width: auto;
}

h2 {
    font-size: 3vh;
    align-content: center;
}
